---
import { fetchLongBenefits, fetchShortBenefits } from '../utils/sanityData';


const longBenefits = await fetchLongBenefits();
const shortBenefits = await fetchShortBenefits();


const detailedFeatures = longBenefits.map((benefit) => ({
  title: benefit.title,
  description: benefit.description,

  icon: benefit.icon || "./public/building.svg", 

}));

const shortFeatures = shortBenefits.map((benefit) => ({
  title: benefit.title,
  description: benefit.description,
}));


const {
  heading = "Our Main Benefits",
  subheading = "Discover the key benefits of partnering with us. Our focus is on providing innovative and sustainable solutions.",
} = Astro.props;
---

<section class="py-12">
  <div class="container w-[86%] tracking-tight mx-auto border rounded-3xl bg-blue-100 py-6 lg:py-10 px-6 sm:px-6 lg:px-10">
    
    <div class="text-center leading-normal mb-10">
      <h2 class="text-4xl lg:text-5xl font-bold lg:leading-9 pt-4 text-black mb-2">{heading}</h2>
      <p class="text-gray-600 font-medium text-center break-words max-w-xl pt-2 mx-auto">
        {subheading}
      </p>
    </div>

   
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-6">
      {/* Render Detailed Features */}
      {detailedFeatures.map((feature) => (
        <div class="bg-white cursor-pointer p-4 rounded-2xl shadow hover:shadow-lg transition-shadow">
          <div class="flex items-center justify-center h-12 w-12 rounded-full bg-[#072F6A] mb-4">
            {feature.icon && <img src={feature.icon} alt={feature.title} />}
          </div>
          <h3 class="text-lg font-semibold text-gray-900 mb-2">{feature.title}</h3>
          <p class="font-medium text-gray-600">{feature.description}</p>
        </div>
      ))}

    </div>
    <div class="pt-6 grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3 gap-6">
      {shortFeatures.map((feature) => (
        <div class="flex sm:flex-col md:flex-row lg:flex-row  bg-white p-4 rounded-2xl shadow items-center hover:shadow-lg transition-shadow cursor-pointer">
          <h3 class="text-3xl font-bold sm:text-center text-[#072F6A] mb-2">{feature.title}</h3>
          <p class="pl-2 text-sm sm:text-center font-medium text-gray-600">{feature.description}</p>
        </div>
        
      ))}
    </div>
  </div>
</section>
